{% extends "form_layout.html" %}

{% block title %}
form delete
{% endblock %}


{% block headline %}
{{ title }}
{% endblock %}

{% block content %}

<p class="text-center">削除するidを記入/p>
<div class="row justify-content-center">
    <form action="/delete_card" method="post" >
        <input type="number" required="required" name="ID" placeholder="id"/>
        <input type="submit"/>
    </form>
</div>

<!-- 以下、データベースの一覧表示 -->
<hr>
    <h4 class="text-center">カテゴリ一覧</h4>
    <table class="table">
        <tr class="text-center">
            <th>id</th>
            <th>category</th>
        </tr>
        {% for dict in DATA %}
        <tr class="text-center">
            <td>{{dict.id}}</td> 
            <td>{{dict.category}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}