<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <!-- デバイスごとにサイズを合わせる設定 -->
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"d></script>
</head>
    <body>
        
        <!--ボタン-->
        <!-- ボタンの中央ぞろえ -->
        <div class="row justify-content-center">
            <table>
                <tr>
                    <form action="/form_create" method="get" id="create">
                        <button type="submit" form="create" class="m-1 btn-secondary">create</button>
                    </form>
                </tr>
                <tr>
                    <form action="/form_update" method="get" id="update">
                        <button type="submit" form="update" class="m-1 btn-secondary">update</button>
                    </form>
                </tr>
                <tr>
                    <form action="/form_delete" method="get" id="delete">
                        <button type="submit" form="delete" class="m-1 btn-secondary">delete</button>
                    </form>
                </tr>
            </table>
        </div>
        <!--ボタンここまで-->
        <hr>
        <h1 class="text-center">{{title}}</h1>
        <table class="table">
            <tr class="text-center">
                <th>id</th>
                <td>todo</td>
                <td>category_name</td>
            </tr>
            {% for dict in DATA %}
            <tr class="text-center">
                <td>{{dict.id}}</td> 
                <td>{{dict.todo}}</td>
                <td>{{dict.category_name}}</td>
            </tr>
            {% endfor %}
        </table>

        <div class="text-center">
            <form action="/" method="get" id="cate">
                <button type="submit" form="cate" class="m-1 btn-secondary">カテゴリ画面に戻る</button>
            </form>
        </div>
        
    </body>
</html>